 body {
	color: #EEE;
	background-color: #222;
}
 .hex {
	float: left;
	font-family: "Courier New", Courier, monospace;
	font-size: 64px;
	margin-bottom:-49px; 
	margin-left:-8px;
}
.hex-row {
	clear:left;
}
div.hex-row:nth-of-type(even) {
	margin-left:22px;
}
div.hex-null {
	float: left;
	font-family: "Courier New", Courier, monospace;
	font-size: 64px;
	color: #2b2b2b;
	margin-bottom:-49px;
	margin-left:-8px
}
.board {
	position: fixed;
	top:100px;
	left: 5px;
}
.row {
	clear: left;
	margin-bottom:-10px;
	margin-top:-5px;
}
div.row:nth-of-type(even) {
	margin-left: 22px;
	margin-bottom:-20px;
	margin-top:-10px;
}
.overlay {
	position: fixed;
	top:126px;
	left:13px;
}
.info {
	float: left;
	font-family: "Courier New", Courier, monospace;
	color: #404040;
	opacity: 0.75;
	font-size: 32px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right:23px;
}


button {
	color: #F00;
}
