 body {
	color: #DDD;
	background-color: #EEE;
}
 .hex {
	float: left;
	font-family: "Courier New", Courier, monospace;
	font-size: 5px;
	margin-bottom:-2px; 
	margin-left:0px;
}
.hex-row {
	clear:left;
}
div.hex-row:nth-of-type(even) {
	margin-left:2px;
}
div.hex-null {
	float: left;
	font-family: "Courier New", Courier, monospace;
	font-size: 5px;
	color: transparent;
	margin-bottom:-2px;
	margin-left:0px
}

button {
	color: #F00;
}
